<component name="ArtifactManager">
  <artifact type="war" name="spring-cxf-webservice:war">
    <output-path>$PROJECT_DIR$/spring-cxf-webservice/target</output-path>
    <root id="archive" name="spring-cxf-webservice.war">
      <element id="artifact" artifact-name="spring-cxf-webservice:war exploded" />
    </root>
  </artifact>
</component>